ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF0000;
    width: 540px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    border-style: solid;
    width: 180px;
    height: 60px;
}

li a:hover {
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7TS9j7PkJh47GN6sG2RfBCB6jw94DzmgIhYWXDFC0YO8h3HzJ");
}
img {
    height: 200px;
    width: 175px;
    margin: 30px;
}
p {
    padding: 20px 15px;
    list-style-type: none;
    background-color: #B32B2B;
}

body {
    background-image: url("https://pbs.twimg.com/profile_images/510073626465271809/ES7BIMzU_400x400.png");
}

.banner {
    background-color: #226666;
    padding: 5px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.banner h1{
    font-size: 45px;
    color: #96171A;
}

.row1 {
    margin: 100px;
    background-color: #0F40D1; 
    padding: 20px;
}
container {
    background-color: #092FA0;
}
h2 {
    background-color: #1372BB;
    text-align: center;
}
.#shoutouts {
    background-image: url ("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6zyx-7lem7YmBGk0wvv1XU_EUVsKXKeJLuBrnbCPfXbOgIBx13w")
}
